<%- include('header'); -%>
<body>
    <div class="top-container">
        <div class="middle-container">
            <h1><%=listTitle%></h1>
            <div class="list-container">   
                
                   <% toDoList.forEach(function(item){ %>
                    <div>
                        <form action="/delete" method="post">   
                            <p><input type="checkbox" name="id" value="<%=item._id%>"  onChange="this.form.submit()">
                                <span><%=item.name%></span></p>
                            <input type="hidden" name="listName" value="<%=listName%>" >
                        </form>
                    </div>
                   <% }) %>
                
            </div>
            <form class="form-with-margin" action="/" method="POST">
                <input  name="item" type="text" placeholder="新待办事项..." autocomplete="off" required>
                <button type="submit"  name="list" value="<%=listName%>">添加</button>
            </form>
        
        </div>
    </div>
</body>
</html>